/* You can add global styles to this file, and also import other style files */
.feature {
    margin-bottom: 5px;

    mat-card-header {
        display: flex;
        width: 100%;
        .mat-card-header-text {
            flex: 1 1 auto;
        }
    }

    .mat-card-actions {
        text-align: right;
        padding-top: 0;
    }
}
