<div>
    <ng-container *ngFor="let item of features">
        <app-feature *ngIf="item.commands"
                     [display]="item.display"
                     [status]="item.status"
                     [commands]="item.commands">
        </app-feature>
        <app-feature-switch *ngIf="item.updateValue"
                            [display]="item.display"
                            [status]="item.status"
                            [(isChecked)]="item.isChecked">
        </app-feature-switch>
    </ng-container>
</div>
