<mat-card>
    <mat-card-header>
        <mat-card-title>
            <div>温水器</div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-feature display="風呂状態" [status]="bathStatus" [commands]="bathCommands"></app-feature>
    </mat-card-content>
</mat-card>
