<mat-card class="feature">
    <mat-card-header>
        <mat-card-title>
            {{display}}
        </mat-card-title>
        <div class="status">
            {{status}}
        </div>
    </mat-card-header>
    <mat-card-actions>
        <ng-container *ngFor="let item of commands">
            <button mat-raised-button [color]="item.color ? item.color : ''" (click)="item.command()">{{item.display}}</button>
        </ng-container>
    </mat-card-actions>
</mat-card>