<mat-card class="feature">
    <mat-card-header>
        <mat-card-title>
            {{display}}
        </mat-card-title>
        <div class="status">
            <mat-slide-toggle color="primary" [checked]="isChecked" (change)="changedToggle($event)">
                {{status}}
            </mat-slide-toggle>
        </div>
    </mat-card-header>
</mat-card>
