<app-feature-switch display="test" [status]="status" [(isChecked)]="isCheck"></app-feature-switch>
<app-water-supply></app-water-supply>

<p>test works!</p>
<button (click)="test()">Click</button>
<p>{{data}}</p>
<app-feature-list></app-feature-list>